<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto - Aerolínea XYZ</title>
  <link rel="stylesheet" href="contacto.component.scss">
</head>
<body>
  <!-- Encabezado -->
  <header class="header">

    <div class="contenedor-logo">

        <div>
            <img src="Img/us airways.png" alt="" width="120px">
        </div>

        <div class="logo-menu">

            <h1>US Airways Express</h1>
         <nav class="main-nav">
          <ul>
            <li><a href="index.html">Pagina Inicio</a></li>
            <li><a href="destinos.html">Destinos</a></li>
            <li><a href="promociones.html">Promociones</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="checkin.html">Web Check-in</a></li>
            <li><a href="millas.html">Programa de Millas</a></li>
            <li><a href="https://www.staralliance.com/es/">Star Alliance Members</a></li>
          </ul>
         </nav>

        </div>


    </div>

  </header>

  <!-- Sección de Contacto -->
<div class="seccion-contacto">


  <section class="contacto">
    <h2>Contáctanos</h2>
    <p>Estamos aquí para ayudarte. Completa el formulario a continuación y nos pondremos en contacto contigo lo antes posible.</p>
    <form>
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre">
      </div>
      <div>
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Tu correo electrónico">
      </div>
      <div>
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí"></textarea>
      </div>
      <div>
        <button type="submit">Enviar mensaje</button>
      </div>
    </form>
  </section>

</div>

  <!-- Información adicional de contacto -->
  <footer class="info-contacto">
    <p>Contacto: soporte@usairwaysexpress.com | Tel: +57 123 456 7890</p>
    <p>Síguenos en nuestras redes sociales:</p>
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Instagram</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
  </footer>
</body>
</html>
