<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Check-in - Aerolínea XYZ</title>
  <link rel="stylesheet" href="checkin.component.scss">
</head>
<body>
  <!-- Encabezado -->
  <header class="header">
    <div class="contenedor-logo">

        <div>
            <img src="Img/us airways.png" alt="" width="120px">
        </div>

        <div class="logo-menu">

        <h1>US Airways Express</h1>
         <nav class="main-nav">
          <ul>
            <li><a href="index.html">Pagina Principal</a></li>
            <li><a href="destinos.html">Destinos</a></li>
            <li><a href="promociones.html">Promociones</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="checkin.html">Web Check-in</a></li>
            <li><a href="millas.html">Programa de Millas</a></li>
            <li><a href="https://www.staralliance.com/es/">Star Alliance Members</a></li>
          </ul>
         </nav>

        </div>


    </div>
  </header>

  <!-- Sección Check-in -->
  <section id="checkin" class="checkin-section">
    <h2>Realiza tu Web Check-in</h2>
    <form>
      <div>
        <label for="codigo-reserva">Código de Reserva:</label>
        <input type="text" id="codigo-reserva" name="codigo-reserva" placeholder="Ej. ABC123">
      </div>
      <div>
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" placeholder="Tu apellido">
      </div>
      <div>
        <button type="submit">Realizar Check-in</button>
      </div>
    </form>
  </section>


</body>
</html>
