// Variables
$primary-color: #08396a;
$secondary-color: #ffc107;
$text-color: #333;
$padding: 20px;
$destino-background: #f4f4f4;

// Estilos base
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: $text-color;
}

// Encabezado
.header {
  background-color: $primary-color;
  padding: $padding;
  color: white;

  .main-nav {
    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 20px;
        font-size: 1.3em;

        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

.contenedor-logo{
    display: flex;
  }

  .logo-menu{
    margin-left: 20px;
  }

// Sección de Destinos
.main-content {
  padding: $padding;

  .destinos {
    h2 {
      color: $primary-color;
      margin-bottom: 15px;
    }

    .destino {
      background-color: $destino-background;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      border-left: 4px solid $primary-color;

      h3 {
        color: $primary-color;
        margin: 0;
      }

      p {
        color: $secondary-color;
        font-weight: bold;
      }
    }
  }
}

// Footer con interpolación
$footer-class: "contacto";
.#{$footer-class} {
  background-color: darken($primary-color, 20%);
  color: white;
  padding: $padding;
  text-align: center;

  p, ul {
    margin: 0;
    padding: 5px;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      margin: 0 10px;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
